@model myPet4.Models.UserData
@using myPet4.Models;
@using myPet4.Controllers;

@{
    ViewData["Title"] = "Настройка статей расхода";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="formBody">
    @*<form asp-action="CreateItems">*@
    <form style="width:50%">
        <h1 style="font-size:22pt">@ViewData["Title"]</h1>
        <table style="width:100%">
            @foreach (UserData.UserItem userItem in Model.userItems)
            {
                @*<tr class="leftItems" style="display:flex">*@
                <tr style="display:flex">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <td style="width:13%; align-self:center">
                        <label class="control-label">@userItem.item.nameOf</label>
                    </td>
                    <td style="width:82%; align-self:center; display:flex">
                        <input readonly="true" style="background:none; width:10%; border:none; margin-top:2%" type="text" asp-for="@userItem.item.summ" id="value @userItem.item.nameOf">
                        <p style="margin-top:3%; margin-right:0; width:5%">&#8381</p>

                        <input style="margin-top:3%; width:85%" type="range" min="0" max="100" value="@(userItem.item.summ*100/Model.Person.Finance.salary)" oninput="document.getElementById('rangeValue @userItem.item.nameOf').innerText = this.value; document.getElementById('value @userItem.item.nameOf').value = this.value*@Model.Person.Finance.salary/100" />
                    </td>
                    <td style="width:5%; align-self:center; display:flex">
                        <p id="rangeValue @userItem.item.nameOf">@(userItem.item.summ * 100 / Model.Person.Finance.salary)</p>
                        <p>%</p>
                    </td>
                    <span asp-validation-for="@userItem.item.summ" class="text-danger"></span>
                </tr>
            }
        </table>

        <button class="systemButton pairButtons" formmethod="get" asp-action="CreateFinance">Назад</button>
        <input type="submit" asp-action="saveProfile" value="Готово" class="pairButtons" />
    </form>
</body>


<script>
    function ValChante() {
        var l = document.getElementById()
    }
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}