@model myPet4.Models.UserData
@using myPet4.Models;
@using myPet4.Controllers;

@{
    ViewData["Title"] = "Настройка статей расхода";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="formBody">
    @*<form asp-action="CreateItems">*@
    <form>
        <h1 style="font-size:22pt">@ViewData["Title"]</h1>
        <table style="width:100%; border:solid">
            @foreach (UserData.UserItem userItem in Model.userItems)
            {
                @*<tr class="leftItems" style="display:flex">*@
                <tr style="display:flex">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <td style="width:30%; align-self:center">
                        <label class="control-label">@userItem.item.nameOf</label>
                    </td>
@*                    <td style="width:25%; align-self:center">
                        <label class="control-label">@userItem.item.summ</label>
                    </td>*@
                    <td style="width:70%; align-self:center; display:flex">
                        <input style="margin-top:3%; width:60%" asp-for="@userItem.item.summ" type="range" min="0" max="@Model.Person.Finance.salary" value="@userItem.item.summ" oninput="document.getElementById('rangeValue @userItem.item.nameOf').innerText = this.value" />
                        <p style="margin-left:15%" id="rangeValue @userItem.item.nameOf">@userItem.item.summ</p>
                    </td>
                    <span asp-validation-for="@userItem.item.summ" class="text-danger"></span>



                </tr>
            }
        </table>

        <button class="systemButton pairButtons" formmethod="get" asp-action="CreateFinance">Назад</button>
        <input type="submit" asp-action="saveProfile" value="Готово" class="pairButtons" />
    </form>
</body>


<script>
    function ValChante() {
        var l = document.getElementById()
    }
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}