@model myPet4.Models.UserData
@using myPet4.Models;
@using myPet4.Controllers;

@{
    ViewData["Title"] = "Настройка статей расхода";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="formBody" onload="SetLoad();">
    @*<form asp-action="CreateItems">*@
    <form style="width:50%" >
        <h1 style="font-size:22pt">@ViewData["Title"]</h1>

        <progress id="progress" max="100" value="0"></progress>

        <table style="width:100%">
            @foreach (UserData.UserItem userItem in Model.userItems)
            {
                @*<tr class="leftItems" style="display:flex">*@
                <tr style="display:flex">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <td style="width:13%; align-self:center">
                        <label class="control-label">@userItem.item.nameOf</label>
                    </td>
                    <td style="width:82%; align-self:center; display:flex">
                        <input readonly="true" style="background:none; width:10%; border:none; margin-top:2%" type="text" asp-for="@userItem.item.summ" id="value @userItem.item.nameOf">
                        <p style="margin-top:3%; margin-right:0; width:5%">&#8381</p>

                        <input name="rangeOf" id="rangeOf @userItem.item.nameOf" style="margin-top:3%; width:85%" type="range" min="0" max="100" value="@(userItem.item.summ*100/Model.Person.Finance.salary)" oninput="
                            ValChange('rangeOf @userItem.item.nameOf', value);
                            document.getElementById('rangeValue @userItem.item.nameOf').innerText = this.value;
                            document.getElementById('value @userItem.item.nameOf').value = this.value*@Model.Person.Finance.salary/100;
                        " />
                    </td>
                    <td style="width:5%; align-self:center; display:flex">
                        <p id="rangeValue @userItem.item.nameOf">@(userItem.item.summ * 100 / Model.Person.Finance.salary)</p>
                        <p>%</p>
                        @*<p>fixed</p>
                    <input type="checkbox"/>*@
                    </td>
                    <span asp-validation-for="@userItem.item.summ" class="text-danger"></span>
                </tr>
            }
        </table>

        <button class="systemButton pairButtons" formmethod="get" asp-action="CreateFinance">Назад</button>
        <input type="submit" asp-action="saveProfile" value="Готово" class="pairButtons" />

    </form>

    <button onclick="ValChange();">test</button>

</body>


<script>
    
    function ValChange(arg, val) {
        
        //let vals = [];
        //let freeMoney = 100;
        //vals = document.getElementsByName("rangeOf");
        //for (let i = 0; i < vals.length; i++) {
        //    freeMoney -= vals[i].value;
        //}
     


        let freeMoney = GetLoad();

        document.getElementById("progress").value = freeMoney;

        if (freeMoney < 1) {
            let range = document.getElementById(arg);
            range.value=range.value-1+freeMoney;
        }
    }

    function GetLoad(){
        let vals = [];
        let freeMoney = 100;
        vals = document.getElementsByName("rangeOf");
        for (let i = 0; i < vals.length; i++) {
            freeMoney -= vals[i].value;
        }
        return freeMoney;
    }

    function SetLoad(){
        document.getElementById("progress").value = GetLoad();
    }
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}