@model myPet4.Models.UserData
@using myPet4.Models;
@using myPet4.Controllers;

@{
    ViewData["Title"] = "Настройка статей расхода";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="formBody">
    @*<form asp-action="CreateItems">*@
    <form>
        <h1 style="font-size:22pt">@ViewData["Title"]</h1>
        <table>
            @foreach (UserData.UserItem userItem in Model.userItems)
            {
                <div class="leftItems" style="display:flex">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">*@
                    <label class="control-label">@userItem.item.nameOf</label>
                    <label class="control-label">@userItem.item.summ</label>
                    <input asp-for="@userItem.item.summ" type="range" min="0" max="@Model.Person.Finance.salary" value="@userItem.item.summ" />
                    @*<input asp-for="summ" style="height:50px" />*@
                    <span asp-validation-for="@userItem.item.summ" class="text-danger"></span>
                    @*</div>*@
                </div>
            }
        </table>    
        
        <button class="systemButton pairButtons" formmethod="get" asp-action="CreateFinance">Назад</button>
        <input type="submit" asp-action="saveProfile" value="Готово" class="pairButtons" />
    </form>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}