@model myPet4.Models.ItemPerson
@using myPet4.Models
@using myPet4.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body id="bodyTransactions">
    <form asp-action="AddTransaction" class="topPanels" style="height:300px; background:none">
        <div class="itemLabel" style="display:flex">
            <label>@ViewBag.currentSumm &#8381</label>
            <label style="background:none; color: grey; text-align:right; font-weight:600">@ViewBag.dailyBalance &#8381</label>
        </div>
        <div style="display:flex">
            <label style="background:none; width: 55%; display: inline-block">@Model.nameOf</label>
            <input value="" type="submit" id="addItem" asp-action="AddTransaction" asp-route-id="@Model.id" class="itemButton" />
            <button id="editItem" asp-action="EditTransaction" class="itemButton"></button>
            <button id="deleteItem" asp-action="DeleteTransaction" class="itemButton"></button>
        </div>
        @Html.ListBox("transactionId", new SelectList(Model.transactions, "id","summ"))
    </form>
</body>

<script>
    {
        var s = document.getElementsByName("transactionId");
        s.forEach(p => p.removeAttribute("multiple"));
        s.forEach(p => p.setAttribute("size", 2));
    }
</script>