@model myPet4.Models.UserData;
@using myPet4.Models;
@using myPet4.Controllers;

@{
    ViewData["Title"] = Model.Person.login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="userFormBody">

    <iframe style="height:fit-content; margin-left:5%;margin-right:5%;width:90%" id="topFrame" src="@Url.Action("TopView")"></iframe>
    <div class="topPanels">
        <table style="margin-left:5%;margin-right:5%;width:90%; min-width:1000px">
            <tr>
                <td style="min-width: 210px">
                    <iframe src="@Url.Action("IncomeForm", new{id=Model.Person.id})" name="incomeFrame"></iframe>
                </td>
                @foreach (UserData.UserItem userItem in Model.userItems)
                {
                    <td style="min-width: 210px">
                        @*<iframe src="@Url.Action("TransactionsForm", new{id=userItem.item.id})" onload="FrameUpdate();"></iframe>*@
                        <iframe src="@Url.Action("TransactionsForm", new{id=userItem.item.id})" id="Transactions @userItem.item.id" onload="FrameUpdate();"></iframe>
                    </td>
                }
            </tr>
        </table>
    </div>

    @*<button onclick="FrameUpdate();">testBtn</button>*@
</body>
<script>
    function FrameUpdate() {
        //document.getElementById('topFrame').contentWindow.location.reload();
        //document.getElementById('topFrame').contentWindoww.location.reload();
    }

        }

            //window.addEventListener('message', function (event) {

            //    if (event.data.message === 'FrameUpdate') {
            //        alert('Received message: ' + event.data.message);
            //        while (document.getElementById
            //        FrameUpdate();
            //    }


            //}, false);

</script>