@model myPet4.Models.UserData;
@using myPet4.Models;
@using myPet4.Controllers;

@{
    ViewData["Title"] = Model.Person.login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form form style="padding:15px;margin:5px">
    <input type="date" style="padding:5px; background-color: white; border-radius:10px; min-width:250px; margin:5px; font-size:20px" />
</form>
<form style="padding:10px;margin:5px">
    <label asp-for="Person.Finance.cash"></label>
    <br />
    <label style="float:right">@Model.Person.Finance.cash</label>
</form>

<form style="padding:10px;margin:5px">
    <label asp-for="Person.Finance.freeMoney"></label>
    <br />
    <label style="float:right">@Model.Person.Finance.freeMoney</label>
</form>
<div>
    <div style="padding:10px; background-color: white; border-radius:10px; min-width:350px; margin:5px">
        <label asp-for="Person.Finance.credit"></label>
        <label style="float:right">@Model.Person.Finance.credit</label>
    </div>
    <div style="padding:10px; background-color: white; border-radius:10px; min-width:350px; margin:5px">
        <label asp-for="savedMoney"></label>
        <label style="float:right">@Model.savedMoney</label>
    </div>
    <div style="padding:10px; background-color: white; border-radius:10px; min-width:350px; margin:5px">
        <label asp-for="profit"></label>
        <label style="float:right">@Model.profit</label>
    </div>
</div>
<br />
<div style="padding:10px; background-color: white; border-radius:10px; min-width:350px; margin:5px" class="form-group">
    <label asp-for="Person.ItemPerson"></label>
    @foreach (ItemPerson item in Model.Person.ItemPerson)
    {
        <label>@item.nameOf</label>
    }
</div>