@model myPet.Models.Data
@using myPet4.Controllers

@{
    ViewData["Title"] = "UserForm";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<h1>UserForm</h1>

<h4>@Model.Person.login.ToString()</h4>
<hr />
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.Finance.cash" class="control-label"></label>
                <label>@Model.Person.Finance.cash</label>
                <span asp-validation-for="Person.Finance.cash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Finance.freeMoney" class="control-label"></label>
                <label>@Model.Person.Finance.freeMoney</label>
                <span asp-validation-for="Person.Finance.freeMoney" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Person.Finance.credit" class="control-label"></label>
                <label>@Model.Person.Finance.credit</label>
                <span asp-validation-for="Person.Finance.credit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Finance.toSave" class="control-label"></label>
                <label>@Model.Person.Finance.toSave</label>
                <span asp-validation-for="Person.Finance.toSave" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Person.ItemPerson" class="control-label"></label>
                @foreach(myPet.Data.ItemPerson item in Model.Person.ItemPerson)
                {
                    <label>@item.nameOf</label>
                }
    
                
            </div>

        </form>