@model myPet4.Models.UserData;
@using myPet4.Models;
@using myPet4.Controllers;

@{
    ViewData["Title"] = Model.Person.login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
        <table style="border:solid;border-color:black">
            <tr>
                <td>
                    <form class="topPanels" style="vertical-align:bottom">
                        <label style="background:none">Просмотр по дате</label>
                        <input style="margin: 0 5% 0 5%" type="date" />
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="Person.Finance.cash"></label>
                        <label style="margin: 0 5% 0 5%">@Model.Person.Finance.cash &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="Person.Finance.freeMoney"></label>
                        <label style="margin: 0 5% 0 5%">@Model.Person.Finance.freeMoney &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="currentIncome"></label>
                        <label style="margin: 0 5% 0 5%">@Model.currentIncome &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="profit"></label>
                        <label style="margin: 0 5% 0 5%">@Model.profit &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="Person.Finance.credit"></label>
                        <label style="margin: 0 5% 0 5%">@Model.Person.Finance.credit &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="toSaveByPeriod"></label>
                        <label style="margin: 0 5% 0 5%">@Model.toSaveByPeriod &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="savedMoney"></label>
                        <label style="margin: 0 5% 0 5%">@Model.savedMoney &#8381</label>
                    </form>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table>
            <tr>
                @foreach (UserData.UserItem userItem in Model.userItems)
                    @*@for (int j = 0; j < Model.userItems.Count; j++)*@
                    {
                        <td style="min-width: 210px">
                            @*<progress value=@Model.userItems[j].loaded max="100"></progress>*@
                            <progress value=userItem.loaded max="100"></progress>
                            <iframe src="@Url.Action("TransactionsForm", new {id = userItem.item.id})"></iframe>
                        @*<iframe src="@Url.Action("TransactionsForm", new {i=j})"></iframe>*@
                        </td>
                    }
            </tr>
        </table>
    </div>
</body>
