@model myPet4.Models.UserData;
@using myPet4.Models;
@using myPet4.Controllers;

@{
    ViewData["Title"] = Model.Person.login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
        <table>
            <tr>
                <td>
                    <form class="topPanels" style="vertical-align:bottom">
                        <label style="background:none">Просмотр по дате</label>
                        <input style="margin: 0 5% 0 5%" type="date" />
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="Person.Finance.cash"></label>
                        <label style="margin: 0 5% 0 5%">@Model.Person.Finance.cash &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="Person.Finance.freeMoney"></label>
                        <label style="margin: 0 5% 0 5%">@Model.Person.Finance.freeMoney &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="currentIncome"></label>
                        <label style="margin: 0 5% 0 5%">@Model.currentIncome &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="profit"></label>
                        <label style="margin: 0 5% 0 5%">@Model.profit &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="Person.Finance.credit"></label>
                        <label style="margin: 0 5% 0 5%">@Model.Person.Finance.credit &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="toSaveByPeriod"></label>
                        <label style="margin: 0 5% 0 5%">@Model.toSaveByPeriod &#8381</label>
                    </form>
                </td>
                <td>
                    <form class="topPanels">
                        <label style="background:none" asp-for="savedMoney"></label>
                        <label style="margin: 0 5% 0 5%">@Model.savedMoney &#8381</label>
                    </form>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table>
            <tr>
                @{
                    int i = 0;
                }
                @foreach (UserData.UserItem userItem in Model.userItems)
                {

                    <td>
                        <progress value=@userItem.loaded max="100"></progress>
                        <form class="topPanels" style="height:300px">
                            <div class="itemLabel" style="display:flex">
                                <label>@userItem.currentSumm &#8381</label>
                                <label style="background:none; color: grey; text-align:right; font-weight:600">@userItem.dailyBalance &#8381</label>
                            </div>
                            <div style="display:flex">
                                <label style="background:none; width: 55%; display: inline-block">@userItem.item.nameOf</label>
                                <button id="editItem" class="itemButton"></button>
                                <button id="addItem" class="itemButton"></button>
                                <button id="deleteItem" class="itemButton"></button>
                            </div>
                            @{
                                List<Transactions> s = new List<Transactions>();
                            }
                            @foreach (Transactions transaction in userItem.item.transactions)
                            {
                                s.Add(transaction);
                            }
                            @*@Html.ListBox(String.Concat("item", i++) ,new SelectList(s, "id","summ"))*@
                            @Html.ListBoxFor(m=>userItem.item.transactions ,new SelectList(s, "id","summ"))
                        </form>
                    </td>
                }
            </tr>
        </table>
    </div>
</body>
<script>
    {
        var s = document.getElementsByName("userItem.item.Transactions");
        s.forEach(p => p.removeAttribute("multiple"));
        s.forEach(p => p.setAttribute("size", 2));
    }
</script>